#mod-speed-input {
    width: 30px;
    background: transparent;
    border: none;
    border-bottom: 2px solid;
    color: var(--ym-controls-color-secondary-text-enabled);
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    outline: none;
    margin-right: 6px;
    padding: 0 2px;
    cursor: text;
    z-index: 1;
}
